app:
  broker:
    social-events-topics: like-events,comment-events
    group-id: social-events-group
  hostname: ${HOSTNAME:activity-service}

spring:
  application:
    name: Activity-Service

  kafka:
    bootstrap-servers:
      - ${BOOTSTRAP_SERVERS:localhost:9092}
    listener:
      ack-mode: record
      log-container-config: true
      missing-topics-fatal: true

    consumer:
      key-deserializer: org.apache.kafka.common.serialization.LongDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JacksonJsonDeserializer
      auto-offset-reset: latest
      max-poll-records: 50
      properties:
        spring.json.type.mapping: >-
          likeEvent:kektor.innowise.gallery.activity.msg.LikeEventMsg,
          commentEvent:kektor.innowise.gallery.activity.msg.CommentEventMsg

    producer:
      client-id: ${app.hostname}-events-dlt-producer
      acks: all
      batch-size: 0
      buffer-memory: 16MB
      key-serializer: org.apache.kafka.common.serialization.LongSerializer
      value-serializer: org.springframework.kafka.support.serializer.JacksonJsonSerializer
      retries: 2147483647
      properties:
        spring.json.type.mapping: >-
          likeEvent:kektor.innowise.gallery.activity.msg.LikeEventMsg,
          commentEvent:kektor.innowise.gallery.activity.msg.CommentEventMsg
        partitioner.ignore.keys: false
        enable.idempotence: true
        delivery.timeout.ms: 30000
        request.timeout.ms: 10000
        max.block.ms: 5000

  mongodb:
    host: ${MONGO_SERVER:localhost}
    port: 27017
    database: testDB
    replica-set-name: rs0

  task:
    execution:
      threadNamePrefix: Activity-Consumer-Thread-
      pool:
        core-size: 10
        max-size: 10
        allow-core-thread-timeout: true
        keep-alive: PT30S
        queue-capacity: 200
      shutdown:
        await-termination: true
        await-termination-period: PT30S

management:
  endpoints:
    web:
      exposure:
        include: health
      discovery:
        enabled: false
    access:
      default: none
    jmx:
      exposure:
        exclude: "*"
  endpoint:
    health:
      access: read_only
      probes:
        enabled: true
      group:
        liveness:
          include: livenessState
        readiness:
          include: readinessState, diskSpace, mongo
---
#Configuration for dev profile
spring:
  config:
    activate:
      on-profile: dev
  mongodb:
    host: localhost
  kafka:
    bootstrap-servers: localhost:9092